In [1]:
from pytraj import DataFileList, DataSetList
from pytraj import io as mdio
from pytraj import adict

In [2]:
traj = mdio.load("../tests/data/md1_prod.Tc5b.x", "../tests/data/Tc5b.top")

act = adict['multidihedral']
dslist = DataSetList()

act("phi psi resrange 6-9", traj, dslist=dslist)

In [3]:
print (dslist.get_legends())

['phi:6', 'psi:6', 'phi:7', 'psi:7', 'phi:8', 'psi:8', 'phi:9', 'psi:9']

In [4]:
print (dslist['phi:6']) # return a list of DataSet with a given legend

<pytraj.datasets.DataSet_double.DataSet_double object at 0x2ac9e123c8d0>

In [6]:
d0 = dslist['phi:6']
print (d0[:])

<MemoryView of 'array' object>

<span style="color:blue; font-size:2em;">Combine with *panda*</span>

In [7]:
my_dict = {}
for legend in dslist.get_legends():
    my_dict[legend] = dslist[legend][0][:]

In [8]:
import pandas as pd

In [9]:
pd.DataFrame(my_dict)

,phi:6,phi:7,phi:8,phi:9,psi:6,psi:7,psi:8,psi:9
0,-154.423033,-163.567232,-133.717078,-100.551010,162.588120,128.339917,121.340265,128.262424
1,-148.644577,-146.442363,-60.871086,-132.690259,136.050908,123.314435,-53.651329,153.387455
2,-131.397346,-113.670871,-73.283777,-133.176740,133.965538,-168.485969,-26.986586,91.004519
3,-82.587715,-134.302057,-88.248108,-153.272530,101.067826,145.711891,-9.249274,142.954274
4,-74.328362,-108.616819,-76.731261,-63.374180,84.641645,-173.756802,-28.485641,117.768443
5,-110.533794,-127.960710,-84.926412,-108.524607,130.902308,150.359589,-34.661496,119.007343
6,-102.635203,-122.547268,-87.237770,-144.560471,131.667262,144.446367,61.438401,123.636594
7,-140.021842,-113.747233,-87.782517,-158.895751,122.808997,148.481959,85.557694,151.778559
8,-68.396096,-140.513607,-99.960576,-115.066020,135.502186,161.119154,48.606368,157.933513
9,-104.752889,-137.665533,-91.916563,-117.124923,136.489410,146.626011,57.842860,168.734964

In [10]:
# pytraj has method to directly convert DataSetList object to DataFrame too
from pytraj.dataframe import to_dataframe
dframe = to_dataframe(dslist)

In [13]:
dframe

,phi:6,phi:7,phi:8,phi:9,psi:6,psi:7,psi:8,psi:9
0,-154.423033,-163.567232,-133.717078,-100.551010,162.588120,128.339917,121.340265,128.262424
1,-148.644577,-146.442363,-60.871086,-132.690259,136.050908,123.314435,-53.651329,153.387455
2,-131.397346,-113.670871,-73.283777,-133.176740,133.965538,-168.485969,-26.986586,91.004519
3,-82.587715,-134.302057,-88.248108,-153.272530,101.067826,145.711891,-9.249274,142.954274
4,-74.328362,-108.616819,-76.731261,-63.374180,84.641645,-173.756802,-28.485641,117.768443
5,-110.533794,-127.960710,-84.926412,-108.524607,130.902308,150.359589,-34.661496,119.007343
6,-102.635203,-122.547268,-87.237770,-144.560471,131.667262,144.446367,61.438401,123.636594
7,-140.021842,-113.747233,-87.782517,-158.895751,122.808997,148.481959,85.557694,151.778559
8,-68.396096,-140.513607,-99.960576,-115.066020,135.502186,161.119154,48.606368,157.933513
9,-104.752889,-137.665533,-91.916563,-117.124923,136.489410,146.626011,57.842860,168.734964